@using Microsoft.Extensions.Options
@using System.Text.Json

@page "/pets-auth"
<PageTitle>Pets</PageTitle>

<h3>Pets</h3>

 <table class="table">
    <thead>
        <tr>
            <th>Pet Name</th>
            <th>Animal</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var pet in pets) {
            <tr>
                <td>@pet.PetName</td>
                <td>@pet.Animal</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Inject] private HttpClient HttpClient { get; set; }
    [Inject] private PetService _petService { get; set; }

    List<PetDTO> pets = new();

    protected override async Task OnInitializedAsync() {
        pets = await _petService.GetPetsAuth();
    }

} 
